{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <main>
        <!-- Contact Us Page Content -->
        <section id="contact" class="py-5">
            <div class="container">
            <div class="jumbotron">
                        <h2>Contact Us</h2>
                        <p>Have any questions or suggestions? Feel free to reach out to us using one of the options below:</p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="mailto:contact@englishlearners.com">
                                    <i class="far fa-envelope"></i> contact@englishlearners.com
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/englishlearners" target="_blank">
                                    <i class="fab fa-github"></i> GitHub - englishlearners
                                </a>
                            </li>
                        </ul>
                        <a class="body-icon" href="https://github.com/englishlearners">
                          <img src="{{ url_for('static', filename='assets/github.png') }}" class="img-fluid">
                          <img src="{{ url_for('static', filename='assets/google.png') }}" class="img-fluid">
                        </a>
                    </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
