{% extends "base.html" %}

{% block title %}Password Recover{% endblock %}

{% block body %} 

        <!-- Password Recovery Area -->
        <section id="contact" class="py-5">
          <div class="container">
          <div class="jumbotron">
        <section id="password-recovery" class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='assets/login.png') }}" alt="Password Recovery Image" class="img-fluid" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>Password Recovery</h2><br>
                        <p>Forgot your password? No worries! Enter your email below, and we'll send you instructions on how to reset it.</p>
                        <form action="#" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <button type="submit" class="btn btn-primary">Recover Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
